*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;   
}

#main{
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
}


#bg-img{
    /* scale: 1.1; */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#page1{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

#overlay{
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#nav{
    width: 100%;
}

/* Nav Top Start */

#nav #top{
    display: flex;
    text-shadow: 1px 1px #fff;
    z-index: 2;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
    position: absolute;
    width: 100%;
    height: 17%;
}

#nav #top h1{
    font-size: 1.3vw;
    font-weight: 500;
    line-height: 1;
    font-family: Neu-Hask-Grotesk-Pro;
}

/* Added Fonts */
@font-face {
    font-family: Neu-Hask-Grotesk-Pro;
    src: url(/fonts/Neu-Hask-Grotesk-Pro.ttf);
}

@font-face {
    font-family: DS-Digital;
    src: url(/fonts/DS-Digital.ttf);
}

@font-face {
    font-family: Ogg;
    src: url(/fonts/Ogg.ttf);
}

@font-face {
    font-family: Scto-Grotesk-A-Medium;
    src: url(/fonts/Scto-Grotesk-A-Medium.ttf);
}

#top #color-i #color-top{
    display: flex;
}

#box1{
    width: 13px;
    height: 13px;
    background-color: rgba(0,0,0, 0.1);
    border: 1px solid black
}

#box2{
    width: 13px;
    height: 13px;
    background-color: rgba(0,0,0, 0.3);
    border: 1px solid black
}

#box3{
    width: 13px;
    height: 13px;
    background-color: rgba(0,0,0, 0.5);
    border: 1px solid black
}

#box4{
    width: 13px;
    height: 13px;
    background-color: rgba(0,0,0, 0.6);
    border: 1px solid black
}

#box5{
    width: 13px;
    height: 13px;
    background-color: rgba(0,0,0, 0.7);
    border: 1px solid black
}

#box6{
    width: 13px;
    height: 13px;
    background-color: rgba(0,0,0, 1);
    border: 1px solid black
}

#color-bottom{
    margin-top: 8px;
    display: flex;
    font-size: 0.9vw;
    align-items: center;
    justify-content: space-between;
    font-family: DS-Digital;
}

/* Nav Top End */

/* Nav Bottom Start */

#nav #bottom{
    width: 100%;
    height: 15%;
    z-index: 1;
    padding: 0px 50px;
    position: absolute;
    bottom: 0%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav #bottom h3 sup{
    background-color: black;
    color: white;
    padding: 2px;
    font-family: Neu-Hask-Grotesk-Pro;
    border-radius: 2px;
    font-weight: 100;
    font-size: 0.6vw;
}

#nav #bottom h3 sub{
    padding: 2px;
    font-family: DS-Digital;
    font-weight: 100;
    font-size: 1.2vw;
}

#nav #bottom img{
    width: 7%;
}

#b-2{
    position: absolute;
    opacity: 0;
    bottom: 2.3%;
    z-index: 99;
    left: 89.7%;
}

#b-2 img{
    width: 66.5%;
}

/* Nav Bottom End */

/* Center Style */

#center-image{
    top: 38%;
    left: 88%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 100;
    width: 390px;
    height: 170px;
}

#center-image img{
    width: 100%;
}

#center-image h3{
    font-weight: 100;
    font-size: 1vw;
    font-family: Scto-Grotesk-A-Medium;
    color: #222;
}

#center-image h3:nth-child(1),#center-image h3:nth-child(3) {
    margin-bottom: 10px;
}

#semi-circle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    width: 35vw;
    height: 35vw;
    border-radius: 50%;
    background-color: #fff;
}

#circle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 55vw;
    height: 55vw;
}

#circle img{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 100%;
}

#c-top{
    position: absolute;
    width: 100%;
    height: 100%;
}

#c-top img:nth-child(1) {
    transform: translate(-50%, -50%) rotate(-180deg) scale(2);
}

#c-top img:nth-child(2) {
    transform: translate(-50%, -50%) rotate(-180deg) scale(1.5);
}

#c-top img:nth-child(3) {
    transform: translate(-50%, -50%) rotate(-180deg) scale(1);
}


#c-bottom{
    position: absolute;
    width: 100%;
    height: 100%;
}

#c-bottom img:nth-child(1) {
    transform: translate(-50%, -50%) scale(2);
}

#c-bottom img:nth-child(2) {
    transform: translate(-50%, -50%) scale(1.5);
}

#c-bottom img:nth-child(3) {
    transform: translate(-50%, -50%) scale(1);
}

#mini-circle{
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    background-color: #d5a7b4;
    z-index: 100;
}

#i-1{
    position: absolute;
    font-family: Neu-Hask-Grotesk-Pro;
    color: #333;
    text-shadow: 2px 2px 2px black;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    font-weight: 100;
    font-size: 12vw;
    z-index: 102;
}

#i-2{
    position: absolute;
    font-family: Neu-Hask-Grotesk-Pro;
    color: #fff;
    text-shadow: 1px 1px 1px #fff;
    width: 75%;
    bottom: -70%;
    left: 53.5%;
    transform: translate(-50%, 0%) rotate(30deg);
    font-weight: 100;
    font-size: 12vw;
    z-index: 101;
}

#animate-top{
    position: absolute;
    bottom: -100%;
    width: 32.2vw;
    height: 67vh;
    padding: 11.5vw 4vw;
    /* padding: 150px 50px; */
    position: absolute;
    z-index: 1;
    background-color: #d5a7b4;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.5vw;
    font-family: Scto-Grotesk-A-Medium;
}

#details span:hover{
    background-color: #fff;
    color: #d5a7b4;
}

#details h1{
    font-weight: 100;
}

#details h1:nth-child(2), h1:nth-child(4){
    margin-top: 10px;
}

#details h1:nth-child(2), h1:nth-child(3), h1:nth-child(4){
    margin-left: 30px;
}
#hexs{
    top: 80%;
    position: relative;
    display: flex;
    gap: 10.5vw;
}

#hexs sup{
    font-size: 0.9vw;
}


#hexs span{
    width: 50%;
    position: absolute;
    padding-top: 0.7vh;
    font-family: DS-DIGITAL;
    font-size: 2.5vw;
}

/* Ending Page1 */

#page2{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

#page2 #overlay{
    background-color: rgba(0,0,0, 0.1);
}

#page2 #nav #top h1{
    text-shadow: 0.2px 0.2px 0.2px #000;
    color: #282828;
}

#page2 #color-bottom{
    text-shadow: none;
    color: #282828;
}

#page2 #color-i #color-top-2{
    display: flex;
}

#page2 #color-top-2 #box1{
    background-color: rgba(0,0,0, 0.1);
    border: none;
}

#page2 #color-top-2 #box2{
    background-color: rgba(0,0,0, 0.3);
    border: none;
}

#page2 #color-top-2 #box3{
    background-color: rgba(0,0,0, 0.5);
    border: none;
}

#page2 #color-top-2 #box4{
    background-color: rgba(0,0,0, 0.6);
    border: none;
}

#page2 #color-top-2 #box5{
    background-color: rgba(0,0,0, 0.7);
    border: none;
}

#page2 #color-top-2 #box6{
    background-color: rgba(0,0,0, 1);
    border: none;
}

#page2 #nav #bottom h3 sup{
    background-color: #333 !important;
    color: white !important;
}

#page2 #nav #bottom h3 sub{
    color: #000 !important;
    text-shadow: none !important;
}

#page2 #nav #bottom img{
    opacity: 1 !important;
}

#page2 #s-top{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 60%;
    /* border-bottom: 1.8px solid #dadada; */
    border-bottom: 1.5px solid #9999;
}

#page2 #s-bottom{
    position: relative;
    width: 100%;
    height: 60%;
}

#page2 #s-top h1{
    color: #fff;
    position: absolute;
    top: 63%;
    left: 200%;
    transform: translate(-50%, -50%);
    font-size: 29vw;
    z-index: 99;
    font-family: Neu-Hask-Grotesk-Pro;
}

#page2 .circle{
    position: absolute;
    top: 150%;
    transform: translate(-48%, -51%);
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
}

#page2 .pi{
    left: 41%;
    background-color: #d5a7b4;
    z-index: 1;
}

#page2 .pu{
    left: 58.5%;
    background-color: #B4AAD5;
}

#s-bottom #first{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: absolute;
}

#s-bottom #first p{
    padding: 50px;
    line-height: 1;
    font-size: 3.5vw;
    font-family: Neu-Hask-Grotesk-Pro;
    text-align: center;
}

#s-bottom #first p:nth-child(2){
    margin-left: 10%;
}

#s-bottom #first p:nth-child(3){
    opacity: 0;
}

#s-bottom #second{
    opacity: 0;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: absolute;
}

#s-bottom #second p{
    padding: 50px;
    line-height: 1;
    font-size: 3.5vw;
    font-family: Neu-Hask-Grotesk-Pro;
    text-align: center;
}

#s-bottom #second p:nth-child(2){
    margin-left: 10%;
}

#s-bottom #second p:nth-child(3){
    opacity: 0;
}

#s-bottom #third{
    opacity: 0;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: absolute;
}

#s-bottom #third p{
    padding: 50px;
    line-height: 1;
    font-size: 3.5vw;
    font-family: Neu-Hask-Grotesk-Pro;
    text-align: center;
}

@media (max-width: 500px){
    #nav #top{
        padding: 10px 20px;
        height: 10%;
    }

    #nav #top h1{
        font-size: 3.7vw;
    }

    #color-bottom{
        font-size: 2.7vw;
        margin-top: 3px;
    }

    #color-top #box1, #box2, #box3, #box4, #box5, #box6{
        width: 10px;
        height: 10px;
    }

    #nav #bottom{
        bottom: 5%;
        width: 103.5%;
        padding: 10px 20px;
        height: 10%;
    }

    #nav #bottom h3 sup{
        font-size: 2vw;
    }

    #nav #bottom h3 sub{
        font-size: 3.4vw;
    }

    #nav #bottom img{
        width: 25%;
    }

    #b-2{
        bottom: 6.5%;
        left: 75.7%;
    }

    #b-2 img{
        margin-left: 15px;
    }

    #center-image h3{
        font-size: 3.4vw;
    }

    #mini-circle{
        width: 10vw;
        height: 10vw;
    }

    #semi-circle{
        width: 73vw;
        height: 73vw;
    }

    #circle{
        width: 113.8vw;
        height: 113.8vw;
    }
    
    #i-1{
        bottom: 6%;
        font-size: 12.3vw;
    }

    #i-2{
        font-size: 12.3vw;
        width: 40%;
    }

    #animate-top{
        width: 65vw;
        height: 70vw;
        font-size: 1.5vw;
    }

    #hexs{
        top: 50%;
        gap: 20vw;
    }

    #hexs sup{
        font-size: 3vw;
    }

    #hexs span{
        font-size: 5vw;
    }
}