*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
}

#page1 #bg-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#page1{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

#overlay{
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#nav{
    width: 100%;
}

/* Nav Top Start */

#nav #top{
    display: flex;
    z-index: 1;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
    position: absolute;
    width: 100%;
    height: 17%;
}

#nav #top h1{
    font-size: 1.3vw;
    font-weight: 500;
    line-height: 1;
    font-family: Neu-Hask-Grotesk-Pro;
}

/* Added Fonts */
@font-face {
    font-family: Neu-Hask-Grotesk-Pro;
    src: url(/fonts/Neu-Hask-Grotesk-Pro.ttf);
}

@font-face {
    font-family: DS-Digital;
    src: url(/fonts/DS-Digital.ttf);
}

@font-face {
    font-family: Ogg;
    src: url(/fonts/Ogg.ttf);
}

@font-face {
    font-family: Scto-Grotesk-A-Medium;
    src: url(/fonts/Scto-Grotesk-A-Medium.ttf);
}

#top #color-i #color-top{
    display: flex;
}

#color-top #box1{
    width: 13px;
    height: 13px;
    background-color: rgba(0,0,0, 0.1);
}

#color-top #box2{
    width: 13px;
    height: 13px;
    background-color: rgba(0,0,0, 0.3);
}

#color-top #box3{
    width: 13px;
    height: 13px;
    background-color: rgba(0,0,0, 0.5);
}

#color-top #box4{
    width: 13px;
    height: 13px;
    background-color: rgba(0,0,0, 0.6);
}

#color-top #box5{
    width: 13px;
    height: 13px;
    background-color: rgba(0,0,0, 0.7);
}

#color-top #box6{
    width: 13px;
    height: 13px;
    background-color: rgba(0,0,0, 1);
}

#color-bottom{
    margin-top: 8px;
    display: flex;
    font-size: 0.9vw;
    align-items: center;
    justify-content: space-between;
    font-family: DS-Digital;
}

/* Nav Top End */

/* Nav Bottom Start */

#nav #bottom{
    width: 100%;
    height: 15%;
    z-index: 1;
    padding: 0px 50px;
    position: absolute;
    bottom: 0%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav #bottom h3 sup{
    background-color: black;
    color: white;
    padding: 2px;
    font-family: Neu-Hask-Grotesk-Pro;
    border-radius: 2px;
    font-weight: 100;
    font-size: 0.6vw;
}

#nav #bottom h3 sub{
    padding: 2px;
    font-family: DS-Digital;
    font-weight: 100;
    font-size: 1.2vw;
}

#nav #bottom img{
    width: 7%;
}

/* Nav Bottom End */

/* Center Style */

#center-image{
    top: 40%;
    left: 83%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 100;
    width: 390px;
    height: 180px;
}

#center-image img{
    width: 100%;
}

#center-image h3{
    font-weight: 100;
    font-size: 1vw;
    font-family: Scto-Grotesk-A-Medium;
    color: #222;
}

#semi-circle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    width: 35vw;
    height: 35vw;
    border-radius: 50%;
    background-color: #fff;
}

#circle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 55vw;
    height: 55vw;
}

#circle img{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 100%;
}

#c-top{
    position: absolute;
    width: 100%;
    height: 100%;
}

#c-top img:nth-child(1) {
    transform: translate(-50%, -50%) rotate(-180deg) scale(2);
}

#c-top img:nth-child(2) {
    transform: translate(-50%, -50%) rotate(-180deg) scale(1.5);
}

#c-top img:nth-child(3) {
    transform: translate(-50%, -50%) rotate(-180deg) scale(1);
}


#c-bottom{
    position: absolute;
    width: 100%;
    height: 100%;
}

#c-bottom img:nth-child(1) {
    transform: translate(-50%, -50%) scale(2);
}

#c-bottom img:nth-child(2) {
    transform: translate(-50%, -50%) scale(1.5);
}

#c-bottom img:nth-child(3) {
    transform: translate(-50%, -50%) scale(1);
}

/* 


#c-bottom img:nth-child(1){
    transform: translate(-50%, -50%) scale(2.3);
}

#c-bottom img:nth-child(2){
    transform: translate(-50%, -50%) scale(1.63);
}

#c-bottom img:nth-child(3){
    transform: translate(-50%, -50%) scale(1.03);
} */

#mini-circle{
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    background-color: #d5a7b4;
    z-index: 100;
}

#i-1{
    position: absolute;
    font-family: Neu-Hask-Grotesk-Pro;
    color: #333;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    font-weight: 100;
    font-size: 12vw;
    z-index: 101;
}

#i-2{
    position: absolute;
    font-family: Neu-Hask-Grotesk-Pro;
    color: #fff;
    width: 75%;
    bottom: -50%;
    left: 53.5%;
    transform: translate(-50%, 0%);
    font-weight: 100;
    font-size: 12vw;
    z-index: 101;
}

#animate-top{
    position: absolute;
    bottom: -100%;
    width: 32.2vw;
    height: 67vh;
    padding: 11.5vw 4vw;
    /* padding: 150px 50px; */
    position: absolute;
    z-index: 1;
    background-color: #d5a7b4;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.5vw;
    font-family: Scto-Grotesk-A-Medium;
}

#details span:hover{
    background-color: #fff;
    color: #d5a7b4;
}

#details h1{
    font-weight: 100;
}

#details h1:nth-child(2), h1:nth-child(4){
    margin-top: 10px;
}

#details h1:nth-child(2), h1:nth-child(3), h1:nth-child(4){
    margin-left: 30px;
}
#hexs{
    top: 80%;
    position: relative;
    display: flex;
    gap: 10.5vw;
}

#hexs sup{
    font-size: 0.9vw;
}


#hexs span{
    width: 50%;
    position: absolute;
    padding-top: 0.7vh;
    font-family: DS-DIGITAL;
    font-size: 2.5vw;
}